{% extends 'layoutAdmin.html.twig' %}


{% block title %}Newsletter Empfänger - erstellen{% endblock %}

{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveBlog %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}erstellen{% endblock %}
    {% block pageHeaderTitel %}Newsletter Empfänger - {% endblock %}
    {% block BreadcrumbMainLevel %}<li><a href="{{ path('backend_newsletter_personen') }}"><i class="fa fa-dashboard"></i> Newsletter Empfänger</a></li>{% endblock %}
    {% block BreadcrumbMainLevelSubOne %}<li class="active">erstellen</li>{% endblock %}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </section><!-- /.content -->


{% endblock %}