{% extends 'layout_backend.html.twig' %}


{% block title %}Blog - Artikel editieren{% endblock %}

{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveBlog %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}Artikel bearbeiten{% endblock %}
    {% block pageHeaderTitel %}Blog - {% endblock %}
    {% block BreadcrumbMainLevel %}<li><a href="{{ path('admin_blog') }}"><i class="fa fa-dashboard"></i> Blog</a></li>{% endblock %}
    {% block BreadcrumbMainLevelSubOne %}<li class="active">Artikel bearbeiten</li>{% endblock %}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="bar-save pull-right">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Löschen</button>
                        <input type="submit" value="Eintrag speichern" class="btn btn-primary" />
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-sm-2"></div>
        </div>

        {# Modal: Delete Item #}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Eintrag löschen</h4>
                    </div>
                    <div class="modal-body">
                        <p>Möchten Sie diesen Eintrag wirklich <strong>löschen</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">Abbrechen</button>
                            <a href="{{ path('admin_blog_delete', { 'id' : id }) }}" class="btn btn-danger">Ja, Eintrag löschen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section><!-- /.content -->


{% endblock %}