<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% javascripts
        'assets/vendor/js/jquery.js'
        'assets/vendor/bootstrap/js/bootstrap.min.js'
        output='assets/vendor/js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
        'assets/vendor/bootstrap/css/bootstrap.min.css'
        'assets/vendor/bootstrap-table/bootstrap-table.css'
    filter='cssrewrite' output='assets/vendor/css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body class="backend">

{% block content_header %}
    <div class="row" style="background-color:#e0e0e0">
        <div class="col-md-4">
            <div class="logo">
                <a href="#" class="logo__link">
                    {% block logo %}
                        {# Get the Logo #}
                        {{ render(url(
                        'admin_logo'
                        )) }}

                        {#
                            <img src="{{ asset('assets/images/aufbau/') }}" alt="inter-punkt. Logo" title="Seite ansehen" class="logo__img">
                        #}
                    {% endblock %}
                </a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a href="http://inter-punkt.ch" target="_blank" class="button"><span class="glyphicon glyphicon-question-sign" style="margin-right:5px; vertical-align:text-top;"></span>Support</a>
                {% block content_header_username %}

                {% endblock %}
                <a href="{{ path('fos_user_security_logout') }}" class="button button--icon"><span class="glyphicon glyphicon-user" style="margin-right:5px; vertical-align:text-top;"></span>Logout</a>

        </div>
    </div>

{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="{{ path('admin_index') }}">index</a> </li>
        <li><a href="{{ path('admin_settings') }}">settings</a> </li>
        <li></li>
    </ul>
{% endblock %}

{% block content %}

    <main class="page-wrapper">
        <!-- LoginForm -->
        {% block login %}{% endblock %}
        
        <!-- Actionbar -->
        {% block actionBar %}{% endblock %}

        <!-- Block Content -->
        {% block body %}{% endblock %} 
    </main>

{% endblock %}
    
</body>
</html>