<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% javascripts
        'assets/vendor/js/jquery.js'
        'assets/vendor/bootstrap/js/bootstrap.min.js'
        'assets/vendor/bootstrap-colorpicker-bundle/Resources/public/js/bootstrap-colorpicker.min.js'
        output='assets/vendor/js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets filter='lessphp' output='assets/less/main.css'
        'assets/less/all.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}

    {% stylesheets
        'assets/vendor/bootstrap/css/bootstrap.min.css'
        'assets/vendor/bootstrap-table/bootstrap-table.css'
        'assets/css/main.css'
        'assets/less/main.css'
        'assets/vendor/bootstrap-colorpicker-bundle/Resources/public/css/bootstrap-colorpicker.min.css'
        'assets/css/nav.css'
    filter='cssrewrite' output='assets/vendor/css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <script>

        $(function(){
            $('.demo2').colorpicker();
        });

    </script>
</head>
<body class="backend">


{# Linke Navigation #}
{% block navbar %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                    {% set asset_base = '/assets/img/uploads/' %}
                    <a href="#" class="logo__link">
                        {% block logo %}
                            {# Get the Logo #}
                            <img src="{{ asset_base }}{{ render(url(
                            'admin_logo'
                            )) }}" alt="Logo">

                            {#
                                <img src="{{ asset('assets/images/aufbau/') }}" alt="inter-punkt. Logo" title="Seite ansehen" class="logo__img">
                            #}
                        {% endblock %}
                    </a>

            </li>
            <br><br><br><br><br>
            <li><a href="{{ path('admin_index') }}">index</a> </li>
            <li><a href="{{ path('backend_blog') }}">Blog/News</a></li>
            <li><a href="">Einstellungen</a></li>
            <li><a href="">Media Manager</a></li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="{{ path('admin_settings') }}">IP Einstellungen</a></li>
                <li><a href="{{ path('admin_settings_less_edit', { id : 3 }) }}">IP LESS Settings</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

    <div id="page-content-wrapper">
    <div class="content-header" style="height: 170px; margin-top: 0px; padding-top: 0px;;">
        <div class="row">
                <div class="col-md-4" style="padding-top: 15px;">

                </div>
                <div class="col-md-4" style="padding-top: 15px;">

                </div>
                <div class="col-md-4" style="padding-top: 15px;">

                   <span style="float: right; padding-right: 25px;">Bis zum nächsten mal <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default"><span class="glyphicon glyphicon-user" style="margin-right:5px; vertical-align:text-top;"></span>Logout</a></span>
                </div>
        </div>


    </div>

{% block content %}

            <main class="page-wrapper">



                <!-- LoginForm -->
                {% block login %}{% endblock %}

                <!-- Actionbar -->
                {% block actionBar %}{% endblock %}

                <!-- Block Content -->
                {% block body %}{% endblock %}
            </main>

{% endblock %}
    </div>
</div>

</body>
</html>