<!DOCTYPE html>
<!--
   ____      __                                  __    __         ___   _____
  /  _/___  / /_ ___   ____   ___  __ __  ___   / /__ / /_       / _ | / ___/
 _/ / / _ \/ __// -_) / __/  / _ \/ // / / _ \ /  '_// __/      / __ |/ (_ /
/___//_//_/\__/ \__/ /_/    / .__/\_,_/ /_//_//_/\_\ \__/      /_/ |_|\___/

-->

<html lang="de">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Backend Skeleton: inter-punkt. ag{% endblock %}</title>

    {% block layoutCss %}
        {% include '/admin/_partials/_layout-css.html.twig'%}
    {% endblock %}

</head>

<body class="hold-transition skin-blue sidebar-mini">

    {# Start: Layout Wrapper #}
    <div class="wrapper">

        {# Start: Layout Header #}
        {% block layoutHeader %}
            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>ip</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>inter-punkt.</b> ag</span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- Inner Menu: contains the notifications -->
                                        <ul class="menu">
                                            <li><!-- start notification -->
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li><!-- end notification -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <!-- user Account Menu -->
                            <li class="dropdown user user-menu">
                                    <a href="{{ path('admin_user_profil') }}">{{ app.user.email }}</a>{# {{ user.username }} #}
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}
        {# End: Layout Header #}

        {# Start: Layout NavBar #}
        {% block layoutNavBar %}
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- search form (default: disabled) -->
                    {# <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form> #}
                    <!-- /.search form -->

                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu">
                        <li class="header">Seiten</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li {% block navActiveIndex %}{% endblock %}><a href="{{ path('admin_index') }}"><i class="fa fa-home"></i> <span>Startseite</span></a> </li>
                        <li {% block navActiveBlog %}{% endblock %}><a href="{{ path('admin_blog') }}"><i class="fa fa-newspaper-o"></i> <span>Blog</span></a></li>
                        <li {% block navActiveMedia %}{% endblock %}><a href="{{ path('admin_mediamanager') }}"><i class="fa fa-folder"></i> <span>Media Manager</span></a></li>

                        <li {% block navActiveUser %}{% endblock %} class="treeview">
                            <a href="#"><i class="fa fa-user"></i> <span>Benutzerverwaltung</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">

                                <li {% block navActiveUserUser %}{% endblock %}><a href="{{ path('admin_user') }}"><i class="fa fa-user-o"></i> <span>Benutzer</span></a></li>
                                <li {% block navActiveUserSettings %}{% endblock %}><a href="{{ path('admin_user_settings') }}"><i class="fa fa-french"></i> <span>Einstellungen</span></a></li>
                                <li {% block navActiveUserMailSettings %}{% endblock %}><a href="{{ path('admin_user_mailsettings', { 'id' : 1 }) }}"><i class="fa fa-send"></i> <span>E-Mail Einstellungen</span></a></li>
                            </ul>
                        </li>

                        {# Weitere Seiten, die aktiviert werden können #}
                        {# <li {% block navActiveEinstellungen %}{% endblock %}><a href=""><i class="fa fa-link"></i> <span>Einstellungen</span></a></li>
                        <li {% block navActiveMediaManager %}{% endblock %}><a href=""><i class="fa fa-link"></i> <span>media Manager</span></a></li>
                        <li {% block navActiveSeo %}{% endblock %}><a href=""><i class="fa fa-link"></i> <span>SEO</span></a></li>
                        <!-- newsletter Manager -->
                        <li {% block navActiveNewsletter %}{% endblock %} class="treeview">
                            <a href="#"><i class="fa fa-link"></i> <span>newsletter Manager</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-link"></i> <span>Blacklist</span></a></li>
                                    <li><a href="{{ path('backend_newsletter') }}"><i class="fa fa-link"></i> <span>newsletter</span></a></li>
                                <li><a href="{{ path('backend_newsletter_personen') }}"><i class="fa fa-link"></i> <span>newsletter Empfänger</span></a></li>
                            </ul>
                        </li> #}

                        {# ########################################################
                         # Interpunkt internes Menu für ROLE_SUPER_ADMIN
                         ######################################################## #}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}

                            <li class="header">Einstellugnen</li>
                            <li {% block navActiveLess %}{% endblock %} class="treeview">
                                <a href="#"><i class="fa fa-cogs"></i> <span>Backend Styling</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">

                                    <li><a href="{{ path('admin_settings_less_edit', { id : 1 }) }}"><span>Basiskonfiguration</span></a></li>
                                    <li><a href="{{ path('admin_settings_less_typographie_edit', { id : 1 }) }}"><span>Typographie</span></a></li>

                                </ul>
                            </li>
                        {% endif %}


                        <li class="treeview">
                            <a href="#"><i class="fa fa-cogs"></i> <span>SEO</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><span>Link</span></a></li>
                            </ul>
                        </li>
                        <li {% block navActiveUpdate %}{% endblock %}><a href="{{ path('admin_update') }}"><i class="fa fa-cogs"></i> <span>Update Skeleton</span></a></li>
                    </ul><!-- /.sidebar-menu -->

                </section>
                <!-- /.sidebar -->
            </aside>
        {% endblock %}
        {# End: Layout NavBar #}

        {# Start: Content Wrapper #}
        <div class="content-wrapper">

            {# Start: Content Header #}
            {% block contentHeader %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block pageHeaderTitel %}Page Header{% endblock %}
                        <small>{% block pageHeaderDescription %}Optional description{% endblock %}</small>
                    </h1>
                    <ol class="breadcrumb">
                        {% block BreadcrumbMainLevel %}<li><a href="#"><i class="fa fa-sitemap"></i> Level</a></li>{% endblock %}
                        {% block BreadcrumbMainLevelSubOne %}<li class="active">Here</li>{% endblock %}
                    </ol>
                </section>
            {% endblock %}
            {# End: Content Header #}

            {# Flash Message Block #}
            {% block flashMessage %}
                {% include ':admin/_partials:_layout-flash-message.html.twig' %}
            {% endblock %}

            {# Start: Content Main #}
            {% block content %}{% endblock %}
            {# End: Content Main #}
        </div>
        {# End: Content Wrapper #}

        {# Start: Layout Footer #}
        {% block footer %}
            {% include '/admin/_partials/_layout-footer.html.twig'%}
        {% endblock %}
        {# End: Layout Footer #}

    </div>
    {# End: Layout Wrapper #}

{% block layoutScripts %}
    {% include '/admin/_partials/_layout-scripts.html.twig'%}
{% endblock %}
</body>
</html>
