{#
########################################################
    partial: head
########################################################
#}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% block siteTitle %}
        <title>IP Symfony Skeleton</title>
    {% endblock %}

    {# check for DEV mode #}
    {% if app.environment == "dev" %}

        <link rel="stylesheet" href="{{ asset('assets/vendor/skeleton/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/skeleton/css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/frontend/css/main.css') }}">

    {% else %}

        {# create production file #}
        {% stylesheets output='assets/compiled/frontendApp.min.css'
            'assets/vendor/skeleton/css/normalize.css'
            'assets/vendor/skeleton/css/skeleton.css'
            'assets/frontend/css/main.css'
         %}
        <script>
            /*!
             Modified for brevity from https://github.com/filamentgroup/loadCSS
             loadCSS: load a CSS file asynchronously.
             [c]2014 @scottjehl, Filament Group, Inc.
             Licensed MIT
             */
            function loadCSS(href){
                var ss = window.document.createElement('link'),
                        ref = window.document.getElementsByTagName('head')[0];

                ss.rel = 'stylesheet';
                ss.href = href;

                // temporarily, set media to something non-matching to ensure it'll
                // fetch without blocking render
                ss.media = 'only x';

                ref.parentNode.insertBefore(ss, ref);

                setTimeout( function(){
                    // set media back to `all` so that the stylesheet applies once it loads
                    ss.media = 'all';
                },0);
            }
            loadCSS('{{ asset_url }}');
        </script>
        <noscript>
            <!-- Let's not assume anything -->
            <link rel="stylesheet" href="{{ asset_url }}">
        </noscript>
        {% endstylesheets %}
    {% endif %}
</head>