{# app/Resources/views/demo/about/base.html.twig #}
{% extends 'layout.html.twig' %}

{% block seoDescription %}{{ seodescription }}{% endblock %}
{% block title %}{{ seotitel }}{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}


    <div class="container">
        <p>Hello world</p>
        {{ dump(data) }}
            {#
            Hier werden die Blog Einträge aus der Table Blog angezeigt
            #}
            {% if data is defined %}
              {% for items in data %}
                  <h2>{{ items.titel }}</h2>
                  {{ items.content|raw }}
              {% endfor %}
            {% endif %}

    </div>

{% endblock %}