{% extends 'layoutAdmin.html.twig' %}


{% block title %}Newsletter Personen{% endblock %}

{% block content_header_username %}

{% endblock %}


{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveNewsletter %}class="active"{% endblock %}
{% endblock %}


{# Content-Header, hier Titel und optionalen Text setzen #}
    {% block pageHeader %}
        {{ parent() }}
        {% block pageHeaderDescription %} - Übersicht{% endblock %}
        {% block pageHeaderTitel %}Newsletter Personen{% endblock %}
        {% block BreadcrumbMainLevel %}<li><a href="{{ path('backend_newsletter_personen') }}"><i class="fa fa-dashboard"></i> Newsletter Personen</a></li>{% endblock %}
        {% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}
    {% endblock %}


{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        {# Leist mit defaul actions #}

        <div class="btn-group btn-group-justified">
            <a class="btn btn-info" href="{{ path('backend_newsletter_personen_new') }}">Neue Newsletter Empfänger erstellen</a>
        </div>

        <br><br><br>


        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Newsletter Empfänger Übersicht</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="blogTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>E-Mail</th>
                        <th>Vorrname</th>
                        <th>Nachname</th>
                        <th>actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for items in data %}
                        <tr>
                            <td>{{ items.id }}</td>
                            <td>{{ items.email }}</td>
                            <td>{{ items.vorname }}</td>
                            <td>{{ items.nachname }}</td>
                            <td>
                                <a href="{{ path('backend_newsletter_personen_edit', {'id' : items.id }) }}" class="btn btn-default" data-tooltip="Beitrag bearbeiten" data-tooltip-position="top"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <a href="{{ path('backend_newsletter_personen_delete', { 'id' : items.id }) }}" class="btn btn-default" data-tooltip="Beitrag löschen" data-tooltip-position="top"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->


    </section><!-- /.content -->

{% endblock %}