{#
########################################################
    partial: head backend
########################################################
#}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Backend Skeleton: inter-punkt. ag{% endblock %}</title>

    {# check for dev mode #}
    {% if app.environment == "dev" %}

        {# dev files list #}

        {# vendor: dependencies via bower.json --> bower install --save [Modulname] #}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/AdminLTE.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-buttons-bs/css/buttons.bootstrap.css') }}">

        {# ip: interpunkt css file --> build trough gulp task #}
        <link rel="stylesheet" href="{{ asset('assets/admin/css/ip-admin.css') }}">

    {% else %}

        {# create production file #}
        {% stylesheets filter='cssrewrite' output='assets/compiled/adminApp.min.css'

        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/AdminLTE/dist/css/AdminLTE.min.css'
        'assets/vendor/datatables/media/css/dataTables.bootstrap.min.css'
        'assets/vendor/font-awesome/css/font-awesome.css'
        'assets/vendor/datatables.net-buttons-bs/css/buttons.bootstrap.min.css'
        'assets/admin/css/ip-admin.css' %}

        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

    {% endif %}
</head>