{% extends 'layout_backend.html.twig' %}

{% form_theme form _self %}

{% block text_widget %}
    <div class="input-group demo2">
        {{ block('form_widget') }}
        <span class="input-group-addon"><i></i></span>
    </div>
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}Siteadmin Farben, Typographie, ..{% endblock %}
    {% block pageHeaderTitel %}Less Basic{% endblock %}
{% endblock %}

{% block content %}

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            {% if save is defined %}
                <div class="alert alert-success highlight-succes" role="alert">Settings erfolgreich gespeichert</div>
            {% endif %}

            <h3>Basiskonfiguration</h3>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Brand</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.primary_color) }}
                            {{ form_row(form.secondary_color) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Brand light/darken</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.primary_color_light) }}
                            {{ form_row(form.secondary_color_dark) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Links</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.link_color) }}
                            {{ form_row(form.link_color_hover) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Texte</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.text_color) }}
                            {{ form_row(form.text_color_class) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

            <h3>Hinweis Farben</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Hinweise</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.highlight_success) }}
                            {{ form_row(form.highlight_info) }}
                            {{ form_row(form.highlight_notice) }}
                            {{ form_row(form.highlight_error) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    {{ form_row(form.highlight_success) }}
                    {{ form_row(form.highlight_info) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.highlight_notice) }}
                    {{ form_row(form.highlight_error) }}
                </div>
            </div>

            {{ form_end(form) }}


        </section><!-- /.content -->

{% endblock %}