{% extends 'layout_backend.html.twig' %}


{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveLess %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}ein Text{% endblock %}
    {% block pageHeaderTitel %}Less Typographie{% endblock %}
{% endblock %}


{% block content %}

        <!-- Main content -->
        <section class="content">

            {# Typographie #}
            {# #}
            {# #}
            <h1>Typographie</h1>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Überschriften</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.h_one) }}
                            {{ form_row(form.h_two) }}
                            {{ form_row(form.h_three) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Font</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->

                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.font_size) }}
                            {{ form_row(form.font_family) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div><!-- Grid-row -->
            {{ form_end(form) }}

        </section><!-- /.content -->

{% endblock %}