{% extends 'layout_backend.html.twig' %}


{% block title %}Blog - Artikel editieren{% endblock %}

{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveBlog %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}Artikel bearbeiten{% endblock %}
    {% block pageHeaderTitel %}Blog - {% endblock %}
    {% block BreadcrumbMainLevel %}<li><a href="{{ path('backend_blog') }}"><i class="fa fa-dashboard"></i> Blog</a></li>{% endblock %}
    {% block BreadcrumbMainLevelSubOne %}<li class="active">Artikel bearbeiten</li>{% endblock %}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </section><!-- /.content -->


{% endblock %}