{% extends 'layout_backend.html.twig' %}


{% block title %}Blog SEO Einstellungen{% endblock %}

{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveBlog %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %} - get find by Google{% endblock %}
    {% block pageHeaderTitel %}Blog SEO{% endblock %}
{% endblock %}

{% block content %}

        <script>



        </script>

        <!-- Main content -->
        <section class="content">

            <div class="callout callout-info lead">
                <h4>Tip!</h4>
                <p class="text-color-class">Dein Seo Titel sollte optimal zwischen  <code>50 - 60</code> Zeichen enthalten.</p>
                <p class="text-color-class">Deine Seo Description sollte optimal zwischen  <code>150 - 160</code> Zeichen enthalten.</p>
            </div>

            <!-- Your Page Content Here -->
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <h3>Beispiel auf Google</h3>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                            <i class="fa fa-circle-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% set asset_google_seo_image = '/assets/img/google/' %}
                    <img class="img-responsive pad" src="{{ asset_google_seo_image }}/interpunktag-google.jpg" alt="Interpunkt AG Google Beispiel">
                </div>
                <!-- /.box-body -->
            </div>


        </section><!-- /.content -->


{% endblock %}