{################################################ 
    Layout Definition & Variables
#################################################}

{# Layout #}
{% extends 'layout_backend.html.twig' %}

{# Sidebar: Aktiver Link #}
{% block navActiveBlog %}class="active"{% endblock %}

{# Content-Header: Titel und optionale Description + Breadcrumps #}
{% block pageHeader %}
    {{ parent() }}

    {# Seitentitel #}
    {% block pageHeaderTitel %}{{ title }}{% endblock %}

    {# Beschreibung neben Seitentitel #}
    {% block pageHeaderDescription %}Eine Beschreibung{% endblock %}

    {# Breadcrumb: Toplevel #}
    {% block BreadcrumbMainLevel %}
        <li><a href="{{ path('admin_'~title) }}"><i class="fa fa-sitemap"></i> {{ title }}</a></li>
    {% endblock %}

    {# Breadcrumb: Sublevel #}
    {% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}
{% endblock %}


{################################################ 
    Block: content
#################################################}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="btn btn-primary" href="{{ path('admin_'~title~'_insert') }}">Neuer Blogartikel</a>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Suche nach...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Suchen</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <a class="btn btn-default" href="#">Seo Einstellungen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ title }}</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-data">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titel</th>
                                <th>actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for items in data %}
                                <tr>
                                    <td>{{ items.id }}</td>
                                    <td>{{ items.email }}</td>
                                    <td>
                                        <a href="{{ path('admin_'~title~'_update', {'id' : items.id }) }}" class="btn btn-default" data-tooltip="Beitrag bearbeiten" data-tooltip-position="top"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        <a href="{{ path('admin_'~title~'_delete', { 'id' : items.id }) }}" class="btn btn-default" data-tooltip="Beitrag löschen" data-tooltip-position="top"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}