{% extends 'layoutAdmin.html.twig' %}


{% block title %}Blog - Neuer Artikel{% endblock %}

{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveUser %}class="active"{% endblock %}
    {% block navActiveUserUser %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}neuen Artikel erstellen{% endblock %}
    {% block pageHeaderTitel %}Blog - {% endblock %}
    {% block BreadcrumbMainLevel %}<li><a href="{{ path('admin_user_insert') }}"><i class="fa fa-dashboard"></i> Blog</a></li>{% endblock %}
    {% block BreadcrumbMainLevelSubOne %}<li class="active">Neuer Artikel</li>{% endblock %}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" value="speichern" class="btn btn-default">
        {{ form_end(form) }}

    </section><!-- /.content -->


{% endblock %}